* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
#infoPanel {
    position: absolute;
    left: 5px;
    bottom: 5px;
    padding: 10px;
    color: lightgrey;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    font-size: 12px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}
.heading {
    display: inline-block;
    font-weight: bold;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
    text-align: center;
}
.divider {
    color: white;
    border-bottom: 1px solid gray;
    padding: 0px 0px 3px 0px;
    margin: 0px 0px 3px 0px;
    font-weight: bold;
}
:not(.hidden) > .heading {
    display: none;
}
.hidden :not(.heading) {
    display: none;
}
#bgColorPickerContainer {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}
#saveButtonContainer {
    position: absolute;
    top: 50px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}